# Task 1
Read the dataset, show its head, shape and description

In [22]:
import pandas as pd

In [47]:
dataset_path = "AirQualityUCI.csv"
df = pd.read_csv(dataset_path, sep=";")

print(df.shape)
df.head()

(9471, 18)

,Date,Time,X00,X01,X02,X03,X04,X05,X06,X07,X08,X09,X10,X11,X12,X13,X14,X15
0,10/03/2004,18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN,NaN
1,10/03/2004,19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN,NaN
2,10/03/2004,20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN,NaN
3,10/03/2004,21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN,NaN
4,10/03/2004,22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN,NaN

Dalla descrizione osserviamo che le feature X13, X14 e X15 sono inutili in quanto contengono solo NaN

Notiamo poi che sono presenti dei valori mancanti anche in tutte le altre colonne

In [48]:
df.describe(include="all")

,Date,Time,X00,X01,X02,X03,X04,X05,X06,X07,X08,X09,X10,X11,X12,X13,X14,X15
count,9357,9357,7765.000000,8991.000000,914.000000,9357.000000,8991.000000,7718.000000,8991.000000,7715.000000,8991.000000,8991.000000,8991.000000,8991.000000,8991.000000,0.0,0.0,0.0
unique,391,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,03/04/2005,18.00.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,24,390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2.127521,1099.833166,218.811816,9.688704,939.153376,246.896735,835.493605,113.091251,1456.264598,1022.906128,18.317829,49.234201,1.025530,NaN,NaN,NaN
std,NaN,NaN,1.463171,217.080037,204.459921,7.559785,266.831429,212.979168,256.817320,48.370108,346.206794,398.484288,8.832116,17.316892,0.403813,NaN,NaN,NaN
min,NaN,NaN,0.000000,647.000000,7.000000,0.000000,383.000000,2.000000,322.000000,2.000000,551.000000,221.000000,-1.900000,9.200000,0.184700,NaN,NaN,NaN
25%,NaN,NaN,1.000000,937.000000,67.000000,4.000000,734.500000,98.000000,658.000000,78.000000,1227.000000,731.500000,11.800000,35.800000,0.736800,NaN,NaN,NaN
50%,NaN,NaN,1.800000,1063.000000,150.000000,7.900000,909.000000,180.000000,806.000000,109.000000,1463.000000,963.000000,17.800000,49.600000,0.995400,NaN,NaN,NaN
75%,NaN,NaN,2.900000,1231.000000,297.000000,13.600000,1116.000000,326.000000,969.500000,142.000000,1674.000000,1273.500000,24.400000,62.500000,1.313700,NaN,NaN,NaN
max,NaN,NaN,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000,NaN,NaN,NaN

# Task 2
Eliminate:
- totally null columns
- totally null rows 
- columns with less than 1/3 of non null values

fill the remaining NaN values with the mean of the column

In [57]:
from sklearn.impute import SimpleImputer

df2 = df.copy()
df2 = df2.dropna(axis=0, how="all") # dropping all-null rows
df2 = df2.dropna(axis=1, how="all") # dropping all-null columns
thresh = df2.shape[0] // 3 # minimum number of non-null column values
df2 = df2.dropna(axis=1, thresh=thresh) # dropping columns with less then 1/3 of non null values

,Date,Time,X00,X01,X03,X04,X05,X06,X07,X08,X09,X10,X11,X12
count,9357,9357,7765.000000,8991.000000,9357.000000,8991.000000,7718.000000,8991.000000,7715.000000,8991.000000,8991.000000,8991.000000,8991.000000,8991.000000
unique,391,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,03/04/2005,18.00.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,24,390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2.127521,1099.833166,9.688704,939.153376,246.896735,835.493605,113.091251,1456.264598,1022.906128,18.317829,49.234201,1.025530
std,NaN,NaN,1.463171,217.080037,7.559785,266.831429,212.979168,256.817320,48.370108,346.206794,398.484288,8.832116,17.316892,0.403813
min,NaN,NaN,0.000000,647.000000,0.000000,383.000000,2.000000,322.000000,2.000000,551.000000,221.000000,-1.900000,9.200000,0.184700
25%,NaN,NaN,1.000000,937.000000,4.000000,734.500000,98.000000,658.000000,78.000000,1227.000000,731.500000,11.800000,35.800000,0.736800
50%,NaN,NaN,1.800000,1063.000000,7.900000,909.000000,180.000000,806.000000,109.000000,1463.000000,963.000000,17.800000,49.600000,0.995400
75%,NaN,NaN,2.900000,1231.000000,13.600000,1116.000000,326.000000,969.500000,142.000000,1674.000000,1273.500000,24.400000,62.500000,1.313700
max,NaN,NaN,11.900000,2040.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000

In [59]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9357 entries, 0 to 9356
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9357 non-null   object
 1   Time    9357 non-null   object
 2   X00     7765 non-null   float64
 3   X01     8991 non-null   float64
 4   X03     9357 non-null   float64
 5   X04     8991 non-null   float64
 6   X05     7718 non-null   float64
 7   X06     8991 non-null   float64
 8   X07     7715 non-null   float64
 9   X08     8991 non-null   float64
 10  X09     8991 non-null   float64
 11  X10     8991 non-null   float64
 12  X11     8991 non-null   float64
 13  X12     8991 non-null   float64
dtypes: float64(12), object(2)
memory usage: 1.1+ MB

In [69]:
df2.select_dtypes(include="number").columns

Index(['X00', 'X01', 'X03', 'X04', 'X05', 'X06', 'X07', 'X08', 'X09', 'X10',
       'X11', 'X12'],
      dtype='object')

In [76]:
imputer = SimpleImputer(strategy='mean')
# non applico la trasformazione alle prime due colonne in quanto non hanno missing values e in quanto non funziona su stringhe
df2[df2.columns[2:]] = imputer.fit_transform(df2[df2.columns[2:]]) 
df2.describe(include="all")

# sarebbe meglio fare cos√¨
# col2transform = df2.select_dtypes(include="number").columns
# df2[col2transform] = imputer.fit_transform(df2[df2[col2transform]])

,Date,Time,X00,X01,X03,X04,X05,X06,X07,X08,X09,X10,X11,X12
count,9357,9357,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000
unique,391,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,03/04/2005,18.00.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,24,390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2.127521,1099.833166,9.688704,939.153376,246.896735,835.493605,113.091251,1456.264598,1022.906128,18.317829,49.234201,1.025530
std,NaN,NaN,1.332885,212.791672,7.559785,261.560236,193.426632,251.743954,43.920954,339.367559,390.612324,8.657639,16.974801,0.395835
min,NaN,NaN,0.000000,647.000000,0.000000,383.000000,2.000000,322.000000,2.000000,551.000000,221.000000,-1.900000,9.200000,0.184700
25%,NaN,NaN,1.200000,941.000000,4.000000,743.000000,112.000000,666.000000,86.000000,1242.000000,742.000000,12.000000,36.600000,0.746100
50%,NaN,NaN,2.127521,1075.000000,7.900000,923.000000,229.000000,818.000000,113.091251,1456.264598,983.000000,18.300000,49.234201,1.015400
75%,NaN,NaN,2.600000,1221.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296200
max,NaN,NaN,11.900000,2040.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000

# Task 3
Drop Time, convert Date from string to datetime and group by Date using mean as aggregate function

In [90]:
df3 = df2.copy()
df3 = df3.drop("Time", axis=1)
df3["Date"] = pd.to_datetime(df3["Date"], dayfirst=True)
df3 = df3.groupby("Date").mean()
df3

,X00,X01,X03,X04,X05,X06,X07,X08,X09,X10,X11,X12
Date,,,,,,,,,,,,
2004-03-10,1.966667,1316.500000,8.450000,912.333333,132.000000,1167.333333,108.833333,1545.500000,1096.000000,12.033333,54.900000,0.765633
2004-03-11,2.234480,1244.166667,7.979167,851.958333,148.662364,1277.250000,100.420469,1522.833333,885.250000,9.837500,64.075000,0.775767
2004-03-12,2.748127,1281.666667,12.129167,1008.291667,179.824728,1101.875000,116.007604,1627.291667,1084.375000,11.287500,51.095833,0.663104
2004-03-13,2.671980,1330.666667,10.916667,992.833333,187.037364,993.208333,118.628802,1595.791667,1245.916667,12.866667,51.533333,0.732296
2004-03-14,2.455313,1361.125000,9.637500,943.916667,150.787364,1001.291667,110.503802,1602.375000,1234.208333,16.012500,48.850000,0.849671
...,...,...,...,...,...,...,...,...,...,...,...,...
2005-03-31,1.387500,1008.125000,5.220833,749.416667,185.083333,795.666667,100.708333,1176.541667,763.833333,17.550000,50.083333,0.951917
2005-04-01,1.062500,903.291667,3.412500,663.000000,161.833333,946.875000,107.333333,943.250000,523.958333,15.929167,35.962500,0.636529
2005-04-02,0.854167,890.958333,2.529167,616.291667,142.375000,991.750000,100.166667,864.333333,481.750000,15.483333,32.225000,0.546167
2005-04-03,1.141667,981.375000,4.316667,714.708333,167.666667,856.166667,111.125000,985.166667,717.083333,18.383333,33.695833,0.617583
2005-04-04,1.940000,1090.533333,8.440000,862.266667,263.333333,745.266667,122.000000,1195.066667,995.266667,16.960000,42.786667,0.724787

# Task 4

- Discretise continuous values with two bins, kmeans strategy and onehot-dense encoding
- Discretization/encoding generates 0/1 values; convert the binary values obtained into boolean, as requested by Apriori

In [101]:
from sklearn.preprocessing import KBinsDiscretizer

df4 = df3.copy()

kbd = KBinsDiscretizer(n_bins=2, strategy="kmeans", encode="onehot-dense")
df4 = pd.DataFrame(kbd.fit_transform(df4))
df4

,X00_0.0,X00_1.0,X01_0.0,X01_1.0,X03_0.0,X03_1.0,X04_0.0,X04_1.0,X05_0.0,X05_1.0,...,X08_0.0,X08_1.0,X09_0.0,X09_1.0,X10_0.0,X10_1.0,X11_0.0,X11_1.0,X12_0.0,X12_1.0
0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
1,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
387,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
388,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
389,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
390,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [109]:
def binarizer_function(x):
    if x >= 1:
        return True
    else:
        return False

df4 = df4.map(binarizer_function)
df4

,X00_0.0,X00_1.0,X01_0.0,X01_1.0,X03_0.0,X03_1.0,X04_0.0,X04_1.0,X05_0.0,X05_1.0,...,X08_0.0,X08_1.0,X09_0.0,X09_1.0,X10_0.0,X10_1.0,X11_0.0,X11_1.0,X12_0.0,X12_1.0
0,True,False,False,True,True,False,True,False,True,False,...,False,True,False,True,True,False,False,True,True,False
1,True,False,False,True,True,False,True,False,True,False,...,False,True,True,False,True,False,False,True,True,False
2,False,True,False,True,False,True,False,True,True,False,...,False,True,False,True,True,False,True,False,True,False
3,False,True,False,True,False,True,False,True,True,False,...,False,True,False,True,True,False,False,True,True,False
4,False,True,False,True,True,False,False,True,True,False,...,False,True,False,True,True,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,True,False,True,False,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False
387,True,False,True,False,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False
388,True,False,True,False,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False
389,True,False,True,False,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False
390,True,False,True,False,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False

# Task 5
Set the names of two columns generated by the discretisation of each attribute A to A_low, A_high 
- (with discretisation/one-hot-encoding, each original column generates two columns, the first is for the low values, the second for the high values)

In [112]:
new_columns = []

for name in df3.columns:
    new_columns.append(name+"_low")
    new_columns.append(name+"_high")

df4.columns = new_columns
df4

,X00_low,X00_high,X01_low,X01_high,X03_low,X03_high,X04_low,X04_high,X05_low,X05_high,...,X08_low,X08_high,X09_low,X09_high,X10_low,X10_high,X11_low,X11_high,X12_low,X12_high
0,True,False,False,True,True,False,True,False,True,False,...,False,True,False,True,True,False,False,True,True,False
1,True,False,False,True,True,False,True,False,True,False,...,False,True,True,False,True,False,False,True,True,False
2,False,True,False,True,False,True,False,True,True,False,...,False,True,False,True,True,False,True,False,True,False
3,False,True,False,True,False,True,False,True,True,False,...,False,True,False,True,True,False,False,True,True,False
4,False,True,False,True,True,False,False,True,True,False,...,False,True,False,True,True,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,True,False,True,False,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False
387,True,False,True,False,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False
388,True,False,True,False,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False
389,True,False,True,False,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False
390,True,False,True,False,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False

# Task 6

Find a value of min_support such that the Apriori algorithm generates at least 8 frequent itemsets with at least 2 items, output the result

In [139]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import numpy as np

for min_sup in np.arange(1, 0.00, -0.01):
    itemsets=apriori(df4, min_support=min_sup, use_colnames=True)

    # filtro le righe che contengono un itemset con un solo elemento 
    for i, row in itemsets.iterrows():
        if(len(row["itemsets"]) < 2):
            itemsets = itemsets.drop(i, axis=0)
        
    if len(itemsets) >= 8:
        break

print(f"{min_sup:.2f}")
itemsets

0.51

     support                     itemsets
12  0.595908           (X05_low, X00_low)
13  0.519182           (X00_low, X07_low)
14  0.524297           (X00_low, X09_low)
15  0.621483           (X05_low, X07_low)
16  0.537084          (X05_low, X08_high)
17  0.529412           (X05_low, X09_low)
18  0.549872          (X08_high, X07_low)
19  0.514066  (X05_low, X00_low, X07_low)

dato un itemset grande N elementi, il numero di regole che posso estrarre √® 2^N - 2
- pensa ad un vettore binario lungo N, ogni elemento vale 1 se √® preso e 0 altrimenti.
- Le combinazioni possibili sono quindi 2^N, da queste escludo quella in cui prendo tutto e quella in cui prendo niente

io ho 7 regole con 2 elementi e 1 regola con 3 elementi. Al massimo posso quindi sperare in 7*(2^2 - 2) + (2^3-2) = 7*2 + 6 = 20 regole ...

sono molto lontano dalle 100 che mi chiede dopo...

provo ad aumentare il numero minimo di regole

In [154]:
for min_sup in np.arange(1, 0.00, -0.01):
    itemsets=apriori(df4, min_support=min_sup, use_colnames=True)

    # conto le righe che contengono un itemset con un solo elemento
    count=0
    for i, row in itemsets.iterrows():
        if(len(row["itemsets"]) >= 2):
            count += 1
            # itemsets = itemsets.drop(i, axis=0) # attenzione, droppare √® sbagliato dato che gli itemset di lunghezza 1 servono per calcolare le rule dopo
        
    if count >= 40:
        break

print(f"min_sup: {min_sup:.2f}; {len(itemsets)} itemsets")
itemsets

min_sup: 0.43; 55 itemsets

     support                              itemsets
0   0.639386                             (X00_low)
1   0.560102                             (X01_low)
2   0.439898                            (X01_high)
3   0.514066                             (X03_low)
4   0.485934                            (X03_high)
5   0.439898                             (X04_low)
6   0.560102                            (X04_high)
7   0.734015                             (X05_low)
8   0.613811                             (X06_low)
9   0.685422                             (X07_low)
10  0.690537                            (X08_high)
11  0.572890                             (X09_low)
12  0.570332                             (X10_low)
13  0.601023                             (X11_low)
14  0.593350                             (X12_low)
15  0.503836                    (X00_low, X01_low)
16  0.470588                    (X00_low, X03_low)
17  0.434783                    (X00_low, X04_low)
18  0.595908                    (X05_low, X00_low)
19  0.519182                    (X00_low, X07_low)
20  0.524297                    (X00_low, X09_low)
21  0.439898                    (X00_low, X11_low)
22  0.439898                    (X03_low, X01_low)
23  0.501279                    (X05_low, X01_low)
24  0.442455                    (X01_low, X07_low)
25  0.506394                    (X01_low, X09_low)
26  0.439898                    (X03_low, X04_low)
27  0.452685                    (X05_low, X03_low)
28  0.470588                    (X03_low, X09_low)
29  0.485934                  (X03_high, X04_high)
30  0.460358                   (X04_high, X06_low)
31  0.475703                  (X08_high, X04_high)
32  0.621483                    (X05_low, X07_low)
33  0.537084                   (X05_low, X08_high)
34  0.529412                    (X05_low, X09_low)
35  0.503836                    (X05_low, X11_low)
36  0.439898                   (X08_high, X06_low)
37  0.549872                   (X08_high, X07_low)
38  0.473146                    (X07_low, X09_low)
39  0.498721                    (X10_low, X12_low)
40  0.475703           (X05_low, X00_low, X01_low)
41  0.475703           (X00_low, X01_low, X09_low)
42  0.434783           (X00_low, X03_low, X04_low)
43  0.437340           (X05_low, X00_low, X03_low)
44  0.442455           (X00_low, X03_low, X09_low)
45  0.514066           (X05_low, X00_low, X07_low)
46  0.506394           (X05_low, X00_low, X09_low)
47  0.445013           (X00_low, X07_low, X09_low)
48  0.434783           (X05_low, X01_low, X07_low)
49  0.473146           (X05_low, X01_low, X09_low)
50  0.434783           (X05_low, X03_low, X09_low)
51  0.491049          (X05_low, X08_high, X07_low)
52  0.460358           (X05_low, X07_low, X09_low)
53  0.457801  (X05_low, X00_low, X01_low, X09_low)
54  0.439898  (X05_low, X00_low, X09_low, X07_low)

ora dovrebbero bastare

# Task 7
Find the minimum metric threshold (quale metric???) such that at least 100 association rules are extracted from the frequent itemsets found and show the metrics (plurale???) used and the best 10 rules by descending confidence and support

In [164]:
for min_thresh in np.arange(1, 0.00, -0.01):
    rules = association_rules(itemsets, metric="confidence", min_threshold=min_thresh)
    if len(rules) >= 100:
        break

print(min_thresh)
rules.sort_values(by=["confidence", "support"], ascending=False)[["antecedents", "consequents", "support", "confidence", "lift"]].head(10)

0.7799999999999998

,antecedents,consequents,support,confidence,lift
20,(X03_high),(X04_high),0.485934,1.000000,1.785388
16,(X04_low),(X03_low),0.439898,1.000000,1.945274
43,"(X00_low, X04_low)",(X03_low),0.434783,1.000000,1.945274
56,"(X00_low, X07_low)",(X05_low),0.514066,0.990148,1.348947
97,"(X00_low, X07_low, X09_low)",(X05_low),0.439898,0.988506,1.346710
3,(X04_low),(X00_low),0.434783,0.988372,1.545814
44,"(X03_low, X04_low)",(X00_low),0.434783,0.988372,1.545814
46,(X04_low),"(X00_low, X03_low)",0.434783,0.988372,2.100291
67,"(X01_low, X07_low)",(X05_low),0.434783,0.982659,1.338744
81,"(X09_low, X07_low)",(X05_low),0.460358,0.972973,1.325549

In [ ]:
rules